{% extends "base.html" %}

{% block content %}
<style>
    .footer{
        position: fixed;
    }
</style>
<div class="dashboard-header">
    <h2>User Dashboard</h2>
    <p>Welcome back, {{ session['name'] }}!</p>
</div>

<div class="row mt-6">
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Avaliable Books</h5>
                <p class="card-text">View and manage your borrowed books.</p>
                <a href="/user/books" class="btn btn-outline-primary">View Books</a>
            </div>
        </div>
    </div>
     <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Book Search</h5>
                <p class="card-text">Search for available books in the library.</p>
                <a href="/user/books" class="btn btn-outline-primary">Search Books</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}